dist/active2.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Fuli</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <style></style>
    
    <link rel="stylesheet" href="styles/vendor.css">
    <link rel="stylesheet" href="styles/main.css">
    <script src="scripts/vendor/modernizr.js"></script>
  </head>
  <body><!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <div class="wrapper-container">
      <header class="header header--logged-in">
        <div class="hamburger-icon d-lg-none"><i class="icon-Menu-1"></i></div>
        <div class="menu-mobile d-lg-none">
          <div class="menu-mobile__close-wrapper">
            <div class="menu-mobile__close">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 22">
                <g id="Layer_2" data-name="Layer 2">
                  <g id="Arrows"></g>
                  <g id="Left_Arrow_1_2x.png" data-name="Left Arrow 1@2x.png">
                    <path d="M43,10H3.41l8.29-8.29A1,1,0,1,0,10.29.29l-10,10a1,1,0,0,0,0,1.41l10,10a1,1,0,1,0,1.41-1.41L3.41,12H43a1,1,0,0,0,0-2Z"></path>
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </div><a class="header__logo" href="#"><i class="icon-Artboard-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></i></a>
        <nav class="header__categories-trigger"><i class="icon-Menu-1"></i><span class="m-accordion">Danh mục</span>
          <div class="categories-wrapper">
            <ul class="categories">
              <li class="category has-child-content"><span class="category__title">công nghệ thông tin</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">công nghệ thông tin</a></li>
                  <li class="category-topics__item"><a href="#">công nghệ thông tin</a></li>
                  <li class="category-topics__item"><a href="#">công nghệ thông tin</a></li>
                  <li class="category-topics__item"><a href="#">công nghệ thông tin</a></li>
                  <li class="category-topics__item"><a href="#">công nghệ thông tin</a></li>
                </ul>
              </li>
              <li class="category has-child-content"><span class="category__title">tin học văn phòng</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">tin học văn phòng</a></li>
                  <li class="category-topics__item"><a href="#">tin học văn phòng</a></li>
                  <li class="category-topics__item"><a href="#">tin học văn phòng</a></li>
                  <li class="category-topics__item"><a href="#">tin học văn phòng</a></li>
                  <li class="category-topics__item"><a href="#">tin học văn phòng</a></li>
                </ul>
              </li>
              <li class="category has-child-content"><span class="category__title">thiết kế</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">thiết kế</a></li>
                  <li class="category-topics__item"><a href="#">thiết kế</a></li>
                  <li class="category-topics__item"><a href="#">thiết kế</a></li>
                  <li class="category-topics__item"><a href="#">thiết kế</a></li>
                  <li class="category-topics__item"><a href="#">thiết kế</a></li>
                </ul>
              </li>
              <li class="category has-child-content"><span class="category__title">marrketing</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">marrketing</a></li>
                  <li class="category-topics__item"><a href="#">marrketing</a></li>
                  <li class="category-topics__item"><a href="#">marrketing</a></li>
                  <li class="category-topics__item"><a href="#">marrketing</a></li>
                  <li class="category-topics__item"><a href="#">marrketing</a></li>
                </ul>
              </li>
              <li class="category has-child-content"><span class="category__title">Sale, bán hàng</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">Sale, bán hàng</a></li>
                  <li class="category-topics__item"><a href="#">Sale, bán hàng</a></li>
                  <li class="category-topics__item"><a href="#">Sale, bán hàng</a></li>
                  <li class="category-topics__item"><a href="#">Sale, bán hàng</a></li>
                  <li class="category-topics__item"><a href="#">Sale, bán hàng</a></li>
                </ul>
              </li>
              <li class="category has-child-content"><span class="category__title">kinh doanh</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">kinh doanh</a></li>
                  <li class="category-topics__item"><a href="#">kinh doanh</a></li>
                  <li class="category-topics__item"><a href="#">kinh doanh</a></li>
                  <li class="category-topics__item"><a href="#">kinh doanh</a></li>
                  <li class="category-topics__item"><a href="#">kinh doanh</a></li>
                </ul>
              </li>
              <li class="category has-child-content"><span class="category__title">sức khỏe</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">sức khỏe</a></li>
                  <li class="category-topics__item"><a href="#">sức khỏe</a></li>
                  <li class="category-topics__item"><a href="#">sức khỏe</a></li>
                  <li class="category-topics__item"><a href="#">sức khỏe</a></li>
                  <li class="category-topics__item"><a href="#">sức khỏe</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
        <div class="header__search-container">
          <input type="text" placeholder="Tìm khoá học mà bạn quan tâm">
        </div><a class="header__enable-course" href="#"><i class="icon-Unlocked"></i>Kích hoạt khoá học</a>
        <div class="header-userprofile"><a class="header-userprofile__cart" href="#"> <i class="icon-items-in-cart-21772"></i><span>Giỏ hàng</span>
            <div class="header-userprofile__cart__number">5</div></a>
          <div class="dropdown dropdown--circle-img dropdown--align-right">
            <button class="dropdown__img"><img src="images/profile-pic.png" alt=""></button><i class="icon-arrow-down"></i>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-menu__item" href="#">Action lorem ipsum</a><a class="dropdown-menu__item" href="#">Another action Another action</a><a class="dropdown-menu__item" href="#">Something else here Another action</a></div>
          </div>
        </div>
      </header>
      <div class="wrapper">
        <div class="main-content">
          <div class="layout-no-banner course-active-page course-active-page--step2">
            <div class="container">
              <div class="course-active">
                <h1>Kích hoạt khoá học của bạn</h1>
                <ul class="active-steps">
                  <li>
                    <div class="circle active">B1</div><span>Nhập mã khóa học</span>
                  </li>
                  <li>
                    <div class="circle active">B2</div><span>Xác nhận</span>
                  </li>
                  <li>
                    <div class="circle">B3</div><span>Kích hoạt</span>
                  </li>
                </ul>
              </div>
              <div class="cta-section">
                <div class="row">
                  <div class="col-lg-8 offset-lg-2">
                    <article class="article article--active-course">
                      <div class="article__img"><img src="images/landing/article-img.jpg" alt=""></div>
                      <div class="article-content">
                        <div class="article-content-info"><a href="#">
                            <h3 class="article-content-info__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, provident suscipit eius nostrum voluptates dolorem</h3></a>
                              <div class="article-content-info__rating"><i class="icon-md-star"></i><i class="icon-md-star"></i><i class="icon-md-star"></i><i class="icon-md-star-half"></i><i class="icon-md-star-outline"></i><span>(18)</span></div>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. lorem</p>
                        </div>
                        <div class="article-content-price">
                          <div class="article-content-price__original">1.500.000 đ</div>
                          <div class="article-content-price__sale">990.000 đ</div>
                        </div>
                      </div>
                    </article>
                        <button class="btn btn--primary">Tiếp theo</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-12 footer__about-us"><a class="footer__logo" href="#"><i class="icon-logo-3"></i></a>
              <p class="footer__who-we-are">We are Education, create your passion and inspiration. And hope success will come for your dream. Please send email and get latest news.</p>
              <ul class="footer__information">
                <li><i class="icon-envelope-line"></i><a href="mailto:hello@fuliedu.com">hello@fuliedu.com</a></li>
                <li> <i class="icon-phone-handset-line-2"> </i><span>P: 333 222 111 99</span></li>
                <li> <i class="icon-map-marker-line"> </i><span>Barnard St - Suite 111 United States - GA 22222</span></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-4 footer__accordion footer__useful-link">
              <h3>useful links</h3>
              <ul>
                <li><a href="#">Giới thiệu về Fuliedu</a></li>
                <li><a href="#">Câu hỏi thường gặp</a></li>
                <li><a href="#">Điều khoản dịch vụ</a></li>
                <li><a href="#">Hướng dẫn thanh toán</a></li>
                <li><a href="#">Kích hoạt khóa học</a></li>
                <li><a href="#">Tuyển dụng</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-4 footer__accordion footer__support-link">
              <h3>support</h3>
              <ul>
                <li><a href="#">Teacher	</a></li>
                <li><a href="#">Company</a></li>
                <li><a href="#">Course	</a></li>
                <li><a href="#">Latest</a></li>
                <li><a href="#">Course</a></li>
                <li><a href="#">Support	</a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Why Edugate</a></li>
                <li><a href="#">Blog Post</a></li>
                <li><a href="#">SocialMedia</a></li>
                <li><a href="#">Site Map</a></li>
                <li><a href="#">Policies	</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Topic</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-4 footer__subscription">
              <h3>subscription</h3>
              <p>Enter your email and we’ll send you more information.</p>
              <form class="j-form-validation" action="">
                <input type="email" placeholder="Nhập Email" required>
                <button class="btn btn-primary btn--orange">gửi</button>
              </form>
            </div>
          </div>
        </div>
        <div class="copy-right">
          <div class="container">
            <div class="copy-right__content">
              <p>© Học viện Online FuliEdu - Hệ thống đào tạo trực tuyến dành cho người đi làm - Cổng kết nối Chuyên gia với Học viên</p><span>Follow us:<a href="#"><i class="icon-facebook"></i></a><a href="#"><i class="icon-tw"></i></a><a href="#"><i class="icon-insta"></i></a><a href="#"><i class="icon-gplus"></i></a><a href="#"><i class="icon-skype"></i></a></span>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="lightbox-overlay"></div>
    
    <script>!function(e,a,t,n,g,c){e.GoogleAnalyticsObject=n,e.ga||(e.ga=function(){(e.ga.q=e.ga.q||[]).push(arguments)}),e.ga.l=+new Date,g=a.createElement(t),c=a.getElementsByTagName(t)[0],g.src="https://www.google-analytics.com/analytics.js",c.parentNode.insertBefore(g,c)}(window,document,"script","ga"),ga("create","UA-XXXXX-X"),ga("send","pageview")</script>
    <script src="scripts/vendor.js"></script>
    
    <script src="scripts/main.js"></script>
    <script src="scripts-adhoc/validation.js"></script>
    <script src="scripts-adhoc/initdatepicker.js"></script>
  </body>
</html>

app/active2.pug
extends layouts/default

block content
    .layout-no-banner.course-active-page.course-active-page--step2
        .container
            .course-active
                h1 Kích hoạt khoá học của bạn
                ul.active-steps
                    li
                        .circle.active B1
                        span Nhập mã khóa học
                    li
                        .circle.active B2
                        span Xác nhận
                    li
                        .circle B3
                        span Kích hoạt
            .cta-section
                .row
                    .col-lg-8.offset-lg-2
                        article.article.article--active-course
                            .article__img
                                img(src="images/landing/article-img.jpg", alt="")
                            .article-content
                                .article-content-info
                                    a(href="#")
                                        h3.article-content-info__title Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, provident suscipit eius nostrum voluptates dolorem
                                    +starRating
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. lorem
                                .article-content-price
                                    .article-content-price__original 1.500.000 đ
                                    .article-content-price__sale 990.000 đ
                        +button('Tiếp theo')
