dist/learning.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Fuli</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <style></style>
    
    <link rel="stylesheet" href="styles/vendor.css">
    <link rel="stylesheet" href="styles/main.css">
    <script src="scripts/vendor/modernizr.js"></script>
  </head>
  <body><!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <div class="wrapper-container no_header_footer_layout">
      <div class="wrapper">
        <div class="main-content">
          <div class="learning-wrapper">
            <div class="learning">
              <div class="learning-video">
                <div class="learning-video-tool"><a class="learning-video-tool__back" href="#"><img src="images/back.svg"> trở lại</a>
                      <button class="btn btn--tertiary learning-video-tool__report btn--small">báo lỗi</button>
                  <div class="learning-video-tool__fullview"><img src="images/extend.svg"></div>
                </div>
                <div class="learning-video__main-video">
                  <div class="iframe-responsive">
                    <iframe src="https://player.vimeo.com/video/291647592?api=1&amp;autoplay=1" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                  </div>
                </div>
                <div class="learning-video__navigator">
                  <button class="btn btn--tertiary btn--small previous-course"><i class="icon-step-forward-solid"></i> Bài trước</button>
                  <button class="btn btn--tertiary btn--small next-course">Bài tiếp <i class="icon-step-forward-solid"></i></button>
                </div>
              </div>
              <div class="learning-assets">
                <ul class="learning-assets__title">
                  <li class="active" target="#asset-curriculum"><i class="icon-Menu-1"></i> Giáo trình</li>
                  <li target="#asset-document"><i class="icon-download"></i> Tài liệu</li>
                </ul>
                <div class="learning-asset-content asset-curriculum" id="asset-curriculum">
                  <ul>
                    <li class="learning-assets-curriculum">
                      <div class="learning-assets-courses">
                        <div class="learning-assets-courses__part-name">Phần 1: Bắt đầu với UX</div>
                        <ul>
                          <li class="done" video-id="286857224"><span>Bài 1: Những hiểu biết cơ bản về UX</span>
                            <div class="learning-assets-courses__sub">
                              <time><i class="icon-play"></i> 10:50</time>
                              <div class="comment"><i class="icon-comment"></i></div>
                            </div>
                          </li>
                          <li class="active" video-id="291647610"> <span>Bài 2: Thực hành thiết kế UX qua bài tập thiết kế</span>
                            <div class="learning-assets-courses__sub">
                              <time><i class="icon-play"></i> 10:50</time>
                              <div class="comment"><i class="icon-comment"></i></div>
                            </div>
                          </li>
                          <li video-id="291647592"><span>Bài 1: Những hiểu biết cơ bản về UX</span>
                            <div class="learning-assets-courses__sub">
                              <time><i class="icon-play"></i> 10:50</time>
                              <div class="comment"><i class="icon-comment"></i></div>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="learning-assets-courses">
                        <div class="learning-assets-courses__part-name">Phần 2: Bắt đầu với UX</div>
                        <ul>
                          <li video-id="291647439"><span>Bài 1: Những hiểu biết cơ bản về UX</span>
                            <div class="learning-assets-courses__sub">
                              <time><i class="icon-play"></i> 10:50</time>
                              <div class="comment"><i class="icon-comment"></i></div>
                            </div>
                          </li>
                          <li video-id="291647592"><span>Bài 2: Thực hành thiết kế UX qua bài tập thiết kế</span>
                            <div class="learning-assets-courses__sub">
                              <time><i class="icon-play"></i> 10:50</time>
                              <div class="comment"><i class="icon-comment"></i></div>
                            </div>
                          </li>
                          <li video-id="291647439"><span>Bài 1: Những hiểu biết cơ bản về UX</span>
                            <div class="learning-assets-courses__sub">
                              <time><i class="icon-play"></i> 10:50</time>
                              <div class="comment"><i class="icon-comment"></i></div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="learning-asset-content asset-document" id="asset-document">
                  <ul>
                    <li class="learning-assets-document">assets document placeholder</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lightbox-overlay"></div>
    
    <script>!function(e,a,t,n,g,c){e.GoogleAnalyticsObject=n,e.ga||(e.ga=function(){(e.ga.q=e.ga.q||[]).push(arguments)}),e.ga.l=+new Date,g=a.createElement(t),c=a.getElementsByTagName(t)[0],g.src="https://www.google-analytics.com/analytics.js",c.parentNode.insertBefore(g,c)}(window,document,"script","ga"),ga("create","UA-XXXXX-X"),ga("send","pageview")</script>
    <script src="scripts/vendor.js"></script>
    
    <script src="scripts/main.js"></script>
    <script src="scripts-adhoc/validation.js"></script>
    <script src="scripts-adhoc/initdatepicker.js"></script>
  </body>
</html>

app/learning.pug
extends layouts/default_no_header_footer

block content
    .learning-wrapper
        .learning
            .learning-video
                .learning-video-tool
                    a(href="#").learning-video-tool__back #[img(src="images/back.svg")] trở lại
                    +buttonTertiary('báo lỗi').learning-video-tool__report.btn--small
                    .learning-video-tool__fullview #[img(src="images/extend.svg")]
                .learning-video__main-video
                    .iframe-responsive
                        iframe(src='https://player.vimeo.com/video/291647592?api=1&autoplay=1', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                .learning-video__navigator
                    button.btn.btn--tertiary.btn--small.previous-course #[i.icon-step-forward-solid] Bài trước
                    button.btn.btn--tertiary.btn--small.next-course Bài tiếp #[i.icon-step-forward-solid]
            .learning-assets
                ul.learning-assets__title
                    li(target="#asset-curriculum").active #[i.icon-Menu-1] Giáo trình
                    li(target="#asset-document") #[i.icon-download] Tài liệu
                .learning-asset-content.asset-curriculum#asset-curriculum
                    ul
                        li.learning-assets-curriculum
                            .learning-assets-courses
                                .learning-assets-courses__part-name Phần 1: Bắt đầu với UX
                                ul
                                    li.done(video-id="286857224")
                                        span Bài 1: Những hiểu biết cơ bản về UX
                                        .learning-assets-courses__sub
                                            time #[i.icon-play] 10:50
                                            .comment #[i.icon-comment]
                                    li.active(video-id="291647610") 
                                        span Bài 2: Thực hành thiết kế UX qua bài tập thiết kế
                                        .learning-assets-courses__sub
                                            time #[i.icon-play] 10:50
                                            .comment #[i.icon-comment]
                                    li(video-id="291647592")
                                        span Bài 1: Những hiểu biết cơ bản về UX
                                        .learning-assets-courses__sub
                                            time #[i.icon-play] 10:50
                                            .comment #[i.icon-comment]
                            .learning-assets-courses
                                .learning-assets-courses__part-name Phần 2: Bắt đầu với UX
                                ul
                                    li(video-id="291647439")
                                        span Bài 1: Những hiểu biết cơ bản về UX
                                        .learning-assets-courses__sub
                                            time #[i.icon-play] 10:50
                                            .comment #[i.icon-comment]
                                    li(video-id="291647592")
                                        span Bài 2: Thực hành thiết kế UX qua bài tập thiết kế
                                        .learning-assets-courses__sub
                                            time #[i.icon-play] 10:50
                                            .comment #[i.icon-comment]
                                    li(video-id="291647439")
                                        span Bài 1: Những hiểu biết cơ bản về UX
                                        .learning-assets-courses__sub
                                            time #[i.icon-play] 10:50
                                            .comment #[i.icon-comment]
                .learning-asset-content.asset-document#asset-document
                    ul
                        li.learning-assets-document
                            | assets document placeholder
