app/login.pug
extends layouts/default

block content
    .layout-no-banner
        .container
            .row
                .col-lg-10.offset-lg-1
                    .forms-container
                        .row
                            .col-md-6.d-none.d-md-block
                                img(src="images/login.png", alt="")
                            .col-md-6
                                h1 Đăng Nhập
                                form#form-login.form-login.j-form-validation
                                    .form-group
                                        label(for="login-full-name") full name
                                        input#login-full-name(type="text" name="login-full-name" placeholder="Nguyễn Văn A" required)
                                    .form-group
                                        label(for="login-password") password
                                        input#login-password(type="password" name="login-password"  minlength="6" placeholder="******" required)
                                    .form-group.login-links
                                        label.rounded-box(for="remember-me")
                                            input#remember-me(type="checkbox")
                                            .rounded-box__checkbox
                                            | Ghi nhớ tài khoản
                                        a(href="#") Quên mật khẩu
                                    .form-group.form-btns
                                        +buttonLoading('Đăng Nhập')
                                        .signup-links Bạn chưa có tài khoản? #[a(href="#") Đăng ký].

dist/login.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Fuli</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <style></style>
    
    <link rel="stylesheet" href="styles/vendor.css">
    <link rel="stylesheet" href="styles/main.css">
    <script src="scripts/vendor/modernizr.js"></script>
  </head>
  <body><!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <div class="wrapper-container">
      <header class="header header--logged-in">
        <div class="hamburger-icon d-lg-none"><i class="icon-Menu-1"></i></div>
        <div class="menu-mobile d-lg-none">
          <div class="menu-mobile__close-wrapper">
            <div class="menu-mobile__close">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 22">
                <g id="Layer_2" data-name="Layer 2">
                  <g id="Arrows"></g>
                  <g id="Left_Arrow_1_2x.png" data-name="Left Arrow 1@2x.png">
                    <path d="M43,10H3.41l8.29-8.29A1,1,0,1,0,10.29.29l-10,10a1,1,0,0,0,0,1.41l10,10a1,1,0,1,0,1.41-1.41L3.41,12H43a1,1,0,0,0,0-2Z"></path>
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </div><a class="header__logo" href="#"><i class="icon-Artboard-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></i></a>
        <nav class="header__categories-trigger"><i class="icon-Menu-1"></i><span class="m-accordion">Danh mục</span>
          <div class="categories-wrapper">
            <ul class="categories">
              <li class="category has-child-content"><span class="category__title">công nghệ thông tin</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">công nghệ thông tin</a></li>
                  <li class="category-topics__item"><a href="#">công nghệ thông tin</a></li>
                  <li class="category-topics__item"><a href="#">công nghệ thông tin</a></li>
                  <li class="category-topics__item"><a href="#">công nghệ thông tin</a></li>
                  <li class="category-topics__item"><a href="#">công nghệ thông tin</a></li>
                </ul>
              </li>
              <li class="category has-child-content"><span class="category__title">tin học văn phòng</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">tin học văn phòng</a></li>
                  <li class="category-topics__item"><a href="#">tin học văn phòng</a></li>
                  <li class="category-topics__item"><a href="#">tin học văn phòng</a></li>
                  <li class="category-topics__item"><a href="#">tin học văn phòng</a></li>
                  <li class="category-topics__item"><a href="#">tin học văn phòng</a></li>
                </ul>
              </li>
              <li class="category has-child-content"><span class="category__title">thiết kế</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">thiết kế</a></li>
                  <li class="category-topics__item"><a href="#">thiết kế</a></li>
                  <li class="category-topics__item"><a href="#">thiết kế</a></li>
                  <li class="category-topics__item"><a href="#">thiết kế</a></li>
                  <li class="category-topics__item"><a href="#">thiết kế</a></li>
                </ul>
              </li>
              <li class="category has-child-content"><span class="category__title">marrketing</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">marrketing</a></li>
                  <li class="category-topics__item"><a href="#">marrketing</a></li>
                  <li class="category-topics__item"><a href="#">marrketing</a></li>
                  <li class="category-topics__item"><a href="#">marrketing</a></li>
                  <li class="category-topics__item"><a href="#">marrketing</a></li>
                </ul>
              </li>
              <li class="category has-child-content"><span class="category__title">Sale, bán hàng</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">Sale, bán hàng</a></li>
                  <li class="category-topics__item"><a href="#">Sale, bán hàng</a></li>
                  <li class="category-topics__item"><a href="#">Sale, bán hàng</a></li>
                  <li class="category-topics__item"><a href="#">Sale, bán hàng</a></li>
                  <li class="category-topics__item"><a href="#">Sale, bán hàng</a></li>
                </ul>
              </li>
              <li class="category has-child-content"><span class="category__title">kinh doanh</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">kinh doanh</a></li>
                  <li class="category-topics__item"><a href="#">kinh doanh</a></li>
                  <li class="category-topics__item"><a href="#">kinh doanh</a></li>
                  <li class="category-topics__item"><a href="#">kinh doanh</a></li>
                  <li class="category-topics__item"><a href="#">kinh doanh</a></li>
                </ul>
              </li>
              <li class="category has-child-content"><span class="category__title">sức khỏe</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">sức khỏe</a></li>
                  <li class="category-topics__item"><a href="#">sức khỏe</a></li>
                  <li class="category-topics__item"><a href="#">sức khỏe</a></li>
                  <li class="category-topics__item"><a href="#">sức khỏe</a></li>
                  <li class="category-topics__item"><a href="#">sức khỏe</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
        <div class="header__search-container">
          <input type="text" placeholder="Tìm khoá học mà bạn quan tâm">
        </div><a class="header__enable-course" href="#"><i class="icon-Unlocked"></i>Kích hoạt khoá học</a>
        <div class="header-userprofile"><a class="header-userprofile__cart" href="#"> <i class="icon-items-in-cart-21772"></i><span>Giỏ hàng</span>
            <div class="header-userprofile__cart__number">5</div></a>
          <div class="dropdown dropdown--circle-img dropdown--align-right">
            <button class="dropdown__img"><img src="images/profile-pic.png" alt=""></button><i class="icon-arrow-down"></i>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-menu__item" href="#">Action lorem ipsum</a><a class="dropdown-menu__item" href="#">Another action Another action</a><a class="dropdown-menu__item" href="#">Something else here Another action</a></div>
          </div>
        </div>
      </header>
      <div class="wrapper">
        <div class="main-content">
          <div class="layout-no-banner">
            <div class="container">
              <div class="row">
                <div class="col-lg-10 offset-lg-1">
                  <div class="forms-container">
                    <div class="row">
                      <div class="col-md-6 d-none d-md-block"><img src="images/login.png" alt=""></div>
                      <div class="col-md-6">
                        <h1>Đăng Nhập</h1>
                        <form class="form-login j-form-validation" id="form-login">
                          <div class="form-group">
                            <label for="login-full-name">full name</label>
                            <input id="login-full-name" type="text" name="login-full-name" placeholder="Nguyễn Văn A" required>
                          </div>
                          <div class="form-group">
                            <label for="login-password">password</label>
                            <input id="login-password" type="password" name="login-password" minlength="6" placeholder="******" required>
                          </div>
                          <div class="form-group login-links">
                            <label class="rounded-box" for="remember-me">
                              <input id="remember-me" type="checkbox">
                              <div class="rounded-box__checkbox"></div>Ghi nhớ tài khoản
                            </label><a href="#">Quên mật khẩu</a>
                          </div>
                          <div class="form-group form-btns">
                                <button class="btn btn--primary btn--loading">
                                  <div class="btn__text">Đăng Nhập</div><span class="btn__progress"></span>
                                </button>
                            <div class="signup-links">Bạn chưa có tài khoản? <a href="#">Đăng ký</a>.</div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-12 footer__about-us"><a class="footer__logo" href="#"><i class="icon-logo-3"></i></a>
              <p class="footer__who-we-are">We are Education, create your passion and inspiration. And hope success will come for your dream. Please send email and get latest news.</p>
              <ul class="footer__information">
                <li><i class="icon-envelope-line"></i><a href="mailto:hello@fuliedu.com">hello@fuliedu.com</a></li>
                <li> <i class="icon-phone-handset-line-2"> </i><span>P: 333 222 111 99</span></li>
                <li> <i class="icon-map-marker-line"> </i><span>Barnard St - Suite 111 United States - GA 22222</span></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-4 footer__accordion footer__useful-link">
              <h3>useful links</h3>
              <ul>
                <li><a href="#">Giới thiệu về Fuliedu</a></li>
                <li><a href="#">Câu hỏi thường gặp</a></li>
                <li><a href="#">Điều khoản dịch vụ</a></li>
                <li><a href="#">Hướng dẫn thanh toán</a></li>
                <li><a href="#">Kích hoạt khóa học</a></li>
                <li><a href="#">Tuyển dụng</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-4 footer__accordion footer__support-link">
              <h3>support</h3>
              <ul>
                <li><a href="#">Teacher	</a></li>
                <li><a href="#">Company</a></li>
                <li><a href="#">Course	</a></li>
                <li><a href="#">Latest</a></li>
                <li><a href="#">Course</a></li>
                <li><a href="#">Support	</a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Why Edugate</a></li>
                <li><a href="#">Blog Post</a></li>
                <li><a href="#">SocialMedia</a></li>
                <li><a href="#">Site Map</a></li>
                <li><a href="#">Policies	</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Topic</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-4 footer__subscription">
              <h3>subscription</h3>
              <p>Enter your email and we’ll send you more information.</p>
              <form class="j-form-validation" action="">
                <input type="email" placeholder="Nhập Email" required>
                <button class="btn btn-primary btn--orange">gửi</button>
              </form>
            </div>
          </div>
        </div>
        <div class="copy-right">
          <div class="container">
            <div class="copy-right__content">
              <p>© Học viện Online FuliEdu - Hệ thống đào tạo trực tuyến dành cho người đi làm - Cổng kết nối Chuyên gia với Học viên</p><span>Follow us:<a href="#"><i class="icon-facebook"></i></a><a href="#"><i class="icon-tw"></i></a><a href="#"><i class="icon-insta"></i></a><a href="#"><i class="icon-gplus"></i></a><a href="#"><i class="icon-skype"></i></a></span>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="lightbox-overlay"></div>
    
    <script>!function(e,a,t,n,g,c){e.GoogleAnalyticsObject=n,e.ga||(e.ga=function(){(e.ga.q=e.ga.q||[]).push(arguments)}),e.ga.l=+new Date,g=a.createElement(t),c=a.getElementsByTagName(t)[0],g.src="https://www.google-analytics.com/analytics.js",c.parentNode.insertBefore(g,c)}(window,document,"script","ga"),ga("create","UA-XXXXX-X"),ga("send","pageview")</script>
    <script src="scripts/vendor.js"></script>
    
    <script src="scripts/main.js"></script>
    <script src="scripts-adhoc/validation.js"></script>
    <script src="scripts-adhoc/initdatepicker.js"></script>
  </body>
</html>
