app/my-cart.pug
extends layouts/default

block content
    .layout-no-banner
        .teacher.my-cart
            .container
                h1.page-title Đơn hàng của tôi
                .teacher-filter
                    .row
                        .col-md-6.offset-md-3
                            .form-group
                                input.date-picker(type="text" placeholder="Từ ngày - Đến ngày")
                                +button('tra cứu').btn-filter
                .teacher-content-list
                    p Trình bày 1 - 20 trong số 2.000 học viên
                    .teacher-content-list__table-wrapper
                        table.teacher-content-list__table
                            tr
                                th STT
                                th Thông tin
                                th Xem khóa học
                                th Khóa học
                                th Tổng giá tiền
                                th Tình trạng đăng ký
                                th Ngày mua
                                th Tình trạng
                                th Active
                            - var n = 0;
                                while n < 15
                                    tr
                                        td= n++
                                        td
                                            p Tên: Đỗ Thị Lan Anh
                                            p Email: lananh22207@gmail.com
                                            p Số điện thoại: 0987654321
                                        td #[a(href="#") đi đến khóa học]
                                        td 3
                                        td 1.000.000đ
                                        td Chưa đăng ký
                                        td 30/10/2018
                                        td Đang chờ
                                        td 
                                            +button('Active')
                    .teacher-content-list-navigation
                        span 1-6 from 60
                        .teacher-content-list-navigation__navigator
                            .teacher-content-list-navigation__navigator__row-per-page.form-group
                                | Rows per page
                                select
                                    option 5
                                    option 10
                                    option 15
                                    option 50
                            .teacher-content-list-navigation__navigator__btns
                                .teacher-content-list-navigation__navigator__btns__previous
                                .teacher-content-list-navigation__navigator__btns__next
                                

dist/my-cart.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Fuli</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <style></style>
    
    <link rel="stylesheet" href="styles/vendor.css">
    <link rel="stylesheet" href="styles/main.css">
    <script src="scripts/vendor/modernizr.js"></script>
  </head>
  <body><!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <div class="wrapper-container">
      <header class="header header--logged-in">
        <div class="hamburger-icon d-lg-none"><i class="icon-Menu-1"></i></div>
        <div class="menu-mobile d-lg-none">
          <div class="menu-mobile__close-wrapper">
            <div class="menu-mobile__close">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 22">
                <g id="Layer_2" data-name="Layer 2">
                  <g id="Arrows"></g>
                  <g id="Left_Arrow_1_2x.png" data-name="Left Arrow 1@2x.png">
                    <path d="M43,10H3.41l8.29-8.29A1,1,0,1,0,10.29.29l-10,10a1,1,0,0,0,0,1.41l10,10a1,1,0,1,0,1.41-1.41L3.41,12H43a1,1,0,0,0,0-2Z"></path>
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </div><a class="header__logo" href="#"><i class="icon-Artboard-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></i></a>
        <nav class="header__categories-trigger"><i class="icon-Menu-1"></i><span class="m-accordion">Danh mục</span>
          <div class="categories-wrapper">
            <ul class="categories">
              <li class="category has-child-content"><span class="category__title">công nghệ thông tin</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">công nghệ thông tin</a></li>
                  <li class="category-topics__item"><a href="#">công nghệ thông tin</a></li>
                  <li class="category-topics__item"><a href="#">công nghệ thông tin</a></li>
                  <li class="category-topics__item"><a href="#">công nghệ thông tin</a></li>
                  <li class="category-topics__item"><a href="#">công nghệ thông tin</a></li>
                </ul>
              </li>
              <li class="category has-child-content"><span class="category__title">tin học văn phòng</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">tin học văn phòng</a></li>
                  <li class="category-topics__item"><a href="#">tin học văn phòng</a></li>
                  <li class="category-topics__item"><a href="#">tin học văn phòng</a></li>
                  <li class="category-topics__item"><a href="#">tin học văn phòng</a></li>
                  <li class="category-topics__item"><a href="#">tin học văn phòng</a></li>
                </ul>
              </li>
              <li class="category has-child-content"><span class="category__title">thiết kế</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">thiết kế</a></li>
                  <li class="category-topics__item"><a href="#">thiết kế</a></li>
                  <li class="category-topics__item"><a href="#">thiết kế</a></li>
                  <li class="category-topics__item"><a href="#">thiết kế</a></li>
                  <li class="category-topics__item"><a href="#">thiết kế</a></li>
                </ul>
              </li>
              <li class="category has-child-content"><span class="category__title">marrketing</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">marrketing</a></li>
                  <li class="category-topics__item"><a href="#">marrketing</a></li>
                  <li class="category-topics__item"><a href="#">marrketing</a></li>
                  <li class="category-topics__item"><a href="#">marrketing</a></li>
                  <li class="category-topics__item"><a href="#">marrketing</a></li>
                </ul>
              </li>
              <li class="category has-child-content"><span class="category__title">Sale, bán hàng</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">Sale, bán hàng</a></li>
                  <li class="category-topics__item"><a href="#">Sale, bán hàng</a></li>
                  <li class="category-topics__item"><a href="#">Sale, bán hàng</a></li>
                  <li class="category-topics__item"><a href="#">Sale, bán hàng</a></li>
                  <li class="category-topics__item"><a href="#">Sale, bán hàng</a></li>
                </ul>
              </li>
              <li class="category has-child-content"><span class="category__title">kinh doanh</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">kinh doanh</a></li>
                  <li class="category-topics__item"><a href="#">kinh doanh</a></li>
                  <li class="category-topics__item"><a href="#">kinh doanh</a></li>
                  <li class="category-topics__item"><a href="#">kinh doanh</a></li>
                  <li class="category-topics__item"><a href="#">kinh doanh</a></li>
                </ul>
              </li>
              <li class="category has-child-content"><span class="category__title">sức khỏe</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">sức khỏe</a></li>
                  <li class="category-topics__item"><a href="#">sức khỏe</a></li>
                  <li class="category-topics__item"><a href="#">sức khỏe</a></li>
                  <li class="category-topics__item"><a href="#">sức khỏe</a></li>
                  <li class="category-topics__item"><a href="#">sức khỏe</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
        <div class="header__search-container">
          <input type="text" placeholder="Tìm khoá học mà bạn quan tâm">
        </div><a class="header__enable-course" href="#"><i class="icon-Unlocked"></i>Kích hoạt khoá học</a>
        <div class="header-userprofile"><a class="header-userprofile__cart" href="#"> <i class="icon-items-in-cart-21772"></i><span>Giỏ hàng</span>
            <div class="header-userprofile__cart__number">5</div></a>
          <div class="dropdown dropdown--circle-img dropdown--align-right">
            <button class="dropdown__img"><img src="images/profile-pic.png" alt=""></button><i class="icon-arrow-down"></i>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-menu__item" href="#">Action lorem ipsum</a><a class="dropdown-menu__item" href="#">Another action Another action</a><a class="dropdown-menu__item" href="#">Something else here Another action</a></div>
          </div>
        </div>
      </header>
      <div class="wrapper">
        <div class="main-content">
          <div class="layout-no-banner">
            <div class="teacher my-cart">
              <div class="container">
                <h1 class="page-title">Đơn hàng của tôi</h1>
                <div class="teacher-filter">
                  <div class="row">
                    <div class="col-md-6 offset-md-3">
                      <div class="form-group">
                        <input class="date-picker" type="text" placeholder="Từ ngày - Đến ngày">
                            <button class="btn btn--primary btn-filter">tra cứu</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="teacher-content-list">
                  <p>Trình bày 1 - 20 trong số 2.000 học viên</p>
                  <div class="teacher-content-list__table-wrapper">
                    <table class="teacher-content-list__table">
                      <tr>
                        <th>STT</th>
                        <th>Thông tin</th>
                        <th>Xem khóa học</th>
                        <th>Khóa học</th>
                        <th>Tổng giá tiền</th>
                        <th>Tình trạng đăng ký</th>
                        <th>Ngày mua</th>
                        <th>Tình trạng</th>
                        <th>Active</th>
                      </tr>
                      <tr>
                        <td>0</td>
                        <td>
                          <p>Tên: Đỗ Thị Lan Anh</p>
                          <p>Email: lananh22207@gmail.com</p>
                          <p>Số điện thoại: 0987654321</p>
                        </td>
                        <td><a href="#">đi đến khóa học</a></td>
                        <td>3</td>
                        <td>1.000.000đ</td>
                        <td>Chưa đăng ký</td>
                        <td>30/10/2018</td>
                        <td>Đang chờ</td>
                        <td> 
                              <button class="btn btn--primary">Active</button>
                        </td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>
                          <p>Tên: Đỗ Thị Lan Anh</p>
                          <p>Email: lananh22207@gmail.com</p>
                          <p>Số điện thoại: 0987654321</p>
                        </td>
                        <td><a href="#">đi đến khóa học</a></td>
                        <td>3</td>
                        <td>1.000.000đ</td>
                        <td>Chưa đăng ký</td>
                        <td>30/10/2018</td>
                        <td>Đang chờ</td>
                        <td> 
                              <button class="btn btn--primary">Active</button>
                        </td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>
                          <p>Tên: Đỗ Thị Lan Anh</p>
                          <p>Email: lananh22207@gmail.com</p>
                          <p>Số điện thoại: 0987654321</p>
                        </td>
                        <td><a href="#">đi đến khóa học</a></td>
                        <td>3</td>
                        <td>1.000.000đ</td>
                        <td>Chưa đăng ký</td>
                        <td>30/10/2018</td>
                        <td>Đang chờ</td>
                        <td> 
                              <button class="btn btn--primary">Active</button>
                        </td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>
                          <p>Tên: Đỗ Thị Lan Anh</p>
                          <p>Email: lananh22207@gmail.com</p>
                          <p>Số điện thoại: 0987654321</p>
                        </td>
                        <td><a href="#">đi đến khóa học</a></td>
                        <td>3</td>
                        <td>1.000.000đ</td>
                        <td>Chưa đăng ký</td>
                        <td>30/10/2018</td>
                        <td>Đang chờ</td>
                        <td> 
                              <button class="btn btn--primary">Active</button>
                        </td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>
                          <p>Tên: Đỗ Thị Lan Anh</p>
                          <p>Email: lananh22207@gmail.com</p>
                          <p>Số điện thoại: 0987654321</p>
                        </td>
                        <td><a href="#">đi đến khóa học</a></td>
                        <td>3</td>
                        <td>1.000.000đ</td>
                        <td>Chưa đăng ký</td>
                        <td>30/10/2018</td>
                        <td>Đang chờ</td>
                        <td> 
                              <button class="btn btn--primary">Active</button>
                        </td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>
                          <p>Tên: Đỗ Thị Lan Anh</p>
                          <p>Email: lananh22207@gmail.com</p>
                          <p>Số điện thoại: 0987654321</p>
                        </td>
                        <td><a href="#">đi đến khóa học</a></td>
                        <td>3</td>
                        <td>1.000.000đ</td>
                        <td>Chưa đăng ký</td>
                        <td>30/10/2018</td>
                        <td>Đang chờ</td>
                        <td> 
                              <button class="btn btn--primary">Active</button>
                        </td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>
                          <p>Tên: Đỗ Thị Lan Anh</p>
                          <p>Email: lananh22207@gmail.com</p>
                          <p>Số điện thoại: 0987654321</p>
                        </td>
                        <td><a href="#">đi đến khóa học</a></td>
                        <td>3</td>
                        <td>1.000.000đ</td>
                        <td>Chưa đăng ký</td>
                        <td>30/10/2018</td>
                        <td>Đang chờ</td>
                        <td> 
                              <button class="btn btn--primary">Active</button>
                        </td>
                      </tr>
                      <tr>
                        <td>7</td>
                        <td>
                          <p>Tên: Đỗ Thị Lan Anh</p>
                          <p>Email: lananh22207@gmail.com</p>
                          <p>Số điện thoại: 0987654321</p>
                        </td>
                        <td><a href="#">đi đến khóa học</a></td>
                        <td>3</td>
                        <td>1.000.000đ</td>
                        <td>Chưa đăng ký</td>
                        <td>30/10/2018</td>
                        <td>Đang chờ</td>
                        <td> 
                              <button class="btn btn--primary">Active</button>
                        </td>
                      </tr>
                      <tr>
                        <td>8</td>
                        <td>
                          <p>Tên: Đỗ Thị Lan Anh</p>
                          <p>Email: lananh22207@gmail.com</p>
                          <p>Số điện thoại: 0987654321</p>
                        </td>
                        <td><a href="#">đi đến khóa học</a></td>
                        <td>3</td>
                        <td>1.000.000đ</td>
                        <td>Chưa đăng ký</td>
                        <td>30/10/2018</td>
                        <td>Đang chờ</td>
                        <td> 
                              <button class="btn btn--primary">Active</button>
                        </td>
                      </tr>
                      <tr>
                        <td>9</td>
                        <td>
                          <p>Tên: Đỗ Thị Lan Anh</p>
                          <p>Email: lananh22207@gmail.com</p>
                          <p>Số điện thoại: 0987654321</p>
                        </td>
                        <td><a href="#">đi đến khóa học</a></td>
                        <td>3</td>
                        <td>1.000.000đ</td>
                        <td>Chưa đăng ký</td>
                        <td>30/10/2018</td>
                        <td>Đang chờ</td>
                        <td> 
                              <button class="btn btn--primary">Active</button>
                        </td>
                      </tr>
                      <tr>
                        <td>10</td>
                        <td>
                          <p>Tên: Đỗ Thị Lan Anh</p>
                          <p>Email: lananh22207@gmail.com</p>
                          <p>Số điện thoại: 0987654321</p>
                        </td>
                        <td><a href="#">đi đến khóa học</a></td>
                        <td>3</td>
                        <td>1.000.000đ</td>
                        <td>Chưa đăng ký</td>
                        <td>30/10/2018</td>
                        <td>Đang chờ</td>
                        <td> 
                              <button class="btn btn--primary">Active</button>
                        </td>
                      </tr>
                      <tr>
                        <td>11</td>
                        <td>
                          <p>Tên: Đỗ Thị Lan Anh</p>
                          <p>Email: lananh22207@gmail.com</p>
                          <p>Số điện thoại: 0987654321</p>
                        </td>
                        <td><a href="#">đi đến khóa học</a></td>
                        <td>3</td>
                        <td>1.000.000đ</td>
                        <td>Chưa đăng ký</td>
                        <td>30/10/2018</td>
                        <td>Đang chờ</td>
                        <td> 
                              <button class="btn btn--primary">Active</button>
                        </td>
                      </tr>
                      <tr>
                        <td>12</td>
                        <td>
                          <p>Tên: Đỗ Thị Lan Anh</p>
                          <p>Email: lananh22207@gmail.com</p>
                          <p>Số điện thoại: 0987654321</p>
                        </td>
                        <td><a href="#">đi đến khóa học</a></td>
                        <td>3</td>
                        <td>1.000.000đ</td>
                        <td>Chưa đăng ký</td>
                        <td>30/10/2018</td>
                        <td>Đang chờ</td>
                        <td> 
                              <button class="btn btn--primary">Active</button>
                        </td>
                      </tr>
                      <tr>
                        <td>13</td>
                        <td>
                          <p>Tên: Đỗ Thị Lan Anh</p>
                          <p>Email: lananh22207@gmail.com</p>
                          <p>Số điện thoại: 0987654321</p>
                        </td>
                        <td><a href="#">đi đến khóa học</a></td>
                        <td>3</td>
                        <td>1.000.000đ</td>
                        <td>Chưa đăng ký</td>
                        <td>30/10/2018</td>
                        <td>Đang chờ</td>
                        <td> 
                              <button class="btn btn--primary">Active</button>
                        </td>
                      </tr>
                      <tr>
                        <td>14</td>
                        <td>
                          <p>Tên: Đỗ Thị Lan Anh</p>
                          <p>Email: lananh22207@gmail.com</p>
                          <p>Số điện thoại: 0987654321</p>
                        </td>
                        <td><a href="#">đi đến khóa học</a></td>
                        <td>3</td>
                        <td>1.000.000đ</td>
                        <td>Chưa đăng ký</td>
                        <td>30/10/2018</td>
                        <td>Đang chờ</td>
                        <td> 
                              <button class="btn btn--primary">Active</button>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="teacher-content-list-navigation"><span>1-6 from 60</span>
                    <div class="teacher-content-list-navigation__navigator">
                      <div class="teacher-content-list-navigation__navigator__row-per-page form-group">Rows per page
                        <select>
                          <option>5</option>
                          <option>10</option>
                          <option>15</option>
                          <option>50</option>
                        </select>
                      </div>
                      <div class="teacher-content-list-navigation__navigator__btns">
                        <div class="teacher-content-list-navigation__navigator__btns__previous"></div>
                        <div class="teacher-content-list-navigation__navigator__btns__next"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-12 footer__about-us"><a class="footer__logo" href="#"><i class="icon-logo-3"></i></a>
              <p class="footer__who-we-are">We are Education, create your passion and inspiration. And hope success will come for your dream. Please send email and get latest news.</p>
              <ul class="footer__information">
                <li><i class="icon-envelope-line"></i><a href="mailto:hello@fuliedu.com">hello@fuliedu.com</a></li>
                <li> <i class="icon-phone-handset-line-2"> </i><span>P: 333 222 111 99</span></li>
                <li> <i class="icon-map-marker-line"> </i><span>Barnard St - Suite 111 United States - GA 22222</span></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-4 footer__accordion footer__useful-link">
              <h3>useful links</h3>
              <ul>
                <li><a href="#">Giới thiệu về Fuliedu</a></li>
                <li><a href="#">Câu hỏi thường gặp</a></li>
                <li><a href="#">Điều khoản dịch vụ</a></li>
                <li><a href="#">Hướng dẫn thanh toán</a></li>
                <li><a href="#">Kích hoạt khóa học</a></li>
                <li><a href="#">Tuyển dụng</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-4 footer__accordion footer__support-link">
              <h3>support</h3>
              <ul>
                <li><a href="#">Teacher	</a></li>
                <li><a href="#">Company</a></li>
                <li><a href="#">Course	</a></li>
                <li><a href="#">Latest</a></li>
                <li><a href="#">Course</a></li>
                <li><a href="#">Support	</a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Why Edugate</a></li>
                <li><a href="#">Blog Post</a></li>
                <li><a href="#">SocialMedia</a></li>
                <li><a href="#">Site Map</a></li>
                <li><a href="#">Policies	</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Topic</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-4 footer__subscription">
              <h3>subscription</h3>
              <p>Enter your email and we’ll send you more information.</p>
              <form class="j-form-validation" action="">
                <input type="email" placeholder="Nhập Email" required>
                <button class="btn btn-primary btn--orange">gửi</button>
              </form>
            </div>
          </div>
        </div>
        <div class="copy-right">
          <div class="container">
            <div class="copy-right__content">
              <p>© Học viện Online FuliEdu - Hệ thống đào tạo trực tuyến dành cho người đi làm - Cổng kết nối Chuyên gia với Học viên</p><span>Follow us:<a href="#"><i class="icon-facebook"></i></a><a href="#"><i class="icon-tw"></i></a><a href="#"><i class="icon-insta"></i></a><a href="#"><i class="icon-gplus"></i></a><a href="#"><i class="icon-skype"></i></a></span>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="lightbox-overlay"></div>
    
    <script>!function(e,a,t,n,g,c){e.GoogleAnalyticsObject=n,e.ga||(e.ga=function(){(e.ga.q=e.ga.q||[]).push(arguments)}),e.ga.l=+new Date,g=a.createElement(t),c=a.getElementsByTagName(t)[0],g.src="https://www.google-analytics.com/analytics.js",c.parentNode.insertBefore(g,c)}(window,document,"script","ga"),ga("create","UA-XXXXX-X"),ga("send","pageview")</script>
    <script src="scripts/vendor.js"></script>
    
    <script src="scripts/main.js"></script>
    <script src="scripts-adhoc/validation.js"></script>
    <script src="scripts-adhoc/initdatepicker.js"></script>
  </body>
</html>
