app/profile.pug
extends layouts/default

block content
    .layout-no-banner
        form#form-profile.form-profile.j-form-validation.container.profile
            .row
                .col-md-3
                    .profile-user
                        .profile-user__img-wraper
                            .profile-user__img
                                img(src="images/profile_pic.jpg", alt="")
                            .profile-user__upload
                                input(type="file").j-input-upload
                                img(src="images/upload.png", alt="")
                        h5.profile-user__name Trần Xuân Long
                        span.profile-user__title Photoshop export
                .col-md-9
                    .form-profile
                        .row
                            .form-group.col-md-6
                                label(for="profile-full-name") full name
                                input#profile-full-name(type="text" name="profile-full-name" placeholder="Nguyễn Văn A" required)
                            .form-group.col-md-6
                                label(for="profile-phone") Phone
                                input#profile-phone(type="text" name="profile-phone" placeholder="0912345678" required)
                            .form-group.col-md-6
                                label(for="profile-email") email
                                input#profile-email.readonly(type="email" name="profile-email" value="toanle@gmail.com" readonly disabled placeholder="youremail@mail.com" required)
                            .form-group.col-md-6
                                label(for="profile-address") address
                                input#profile-address.readonly(type="text" name="profile-address" value="Hà nội" readonly disabled placeholder="Địa chỉ của bạn" required)
                            .form-group.col-md-6
                                label(for="profile-dob") Ngày sinh
                                input.date-picker.date-picker--single(type="text" placeholder="Từ ngày - Đến ngày")
                            .form-group.col-md-6
                                label Giới tính
                                .radio-group
                                    label.rounded-box(for="male")
                                        input#male(type="radio" name="profile-gender")
                                        .rounded-box__checkbox 
                                        | Male
                                    label.rounded-box(for="female")
                                        input#female(type="radio" name="profile-gender")
                                        .rounded-box__checkbox 
                                        | Female
                        .form-group
                            label(for="info-1") thông tin 1
                            textarea(placeholder="Điền thông tin của bạn...")
                        .form-group
                            label(for="info-1") thông tin 2
                            textarea(placeholder="Điền thông tin của bạn...")
                        .form-group
                            label(for="info-1") thông tin 3
                            textarea(placeholder="Điền thông tin của bạn...")
                        +button('Lưu thông tin')

dist/profile.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Fuli</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <style></style>
    
    <link rel="stylesheet" href="styles/vendor.css">
    <link rel="stylesheet" href="styles/main.css">
    <script src="scripts/vendor/modernizr.js"></script>
  </head>
  <body><!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <div class="wrapper-container">
      <header class="header header--logged-in">
        <div class="hamburger-icon d-lg-none"><i class="icon-Menu-1"></i></div>
        <div class="menu-mobile d-lg-none">
          <div class="menu-mobile__close-wrapper">
            <div class="menu-mobile__close">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 22">
                <g id="Layer_2" data-name="Layer 2">
                  <g id="Arrows"></g>
                  <g id="Left_Arrow_1_2x.png" data-name="Left Arrow 1@2x.png">
                    <path d="M43,10H3.41l8.29-8.29A1,1,0,1,0,10.29.29l-10,10a1,1,0,0,0,0,1.41l10,10a1,1,0,1,0,1.41-1.41L3.41,12H43a1,1,0,0,0,0-2Z"></path>
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </div><a class="header__logo" href="#"><i class="icon-Artboard-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></i></a>
        <nav class="header__categories-trigger"><i class="icon-Menu-1"></i><span class="m-accordion">Danh mục</span>
          <div class="categories-wrapper">
            <ul class="categories">
              <li class="category has-child-content"><span class="category__title">công nghệ thông tin</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">công nghệ thông tin</a></li>
                  <li class="category-topics__item"><a href="#">công nghệ thông tin</a></li>
                  <li class="category-topics__item"><a href="#">công nghệ thông tin</a></li>
                  <li class="category-topics__item"><a href="#">công nghệ thông tin</a></li>
                  <li class="category-topics__item"><a href="#">công nghệ thông tin</a></li>
                </ul>
              </li>
              <li class="category has-child-content"><span class="category__title">tin học văn phòng</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">tin học văn phòng</a></li>
                  <li class="category-topics__item"><a href="#">tin học văn phòng</a></li>
                  <li class="category-topics__item"><a href="#">tin học văn phòng</a></li>
                  <li class="category-topics__item"><a href="#">tin học văn phòng</a></li>
                  <li class="category-topics__item"><a href="#">tin học văn phòng</a></li>
                </ul>
              </li>
              <li class="category has-child-content"><span class="category__title">thiết kế</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">thiết kế</a></li>
                  <li class="category-topics__item"><a href="#">thiết kế</a></li>
                  <li class="category-topics__item"><a href="#">thiết kế</a></li>
                  <li class="category-topics__item"><a href="#">thiết kế</a></li>
                  <li class="category-topics__item"><a href="#">thiết kế</a></li>
                </ul>
              </li>
              <li class="category has-child-content"><span class="category__title">marrketing</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">marrketing</a></li>
                  <li class="category-topics__item"><a href="#">marrketing</a></li>
                  <li class="category-topics__item"><a href="#">marrketing</a></li>
                  <li class="category-topics__item"><a href="#">marrketing</a></li>
                  <li class="category-topics__item"><a href="#">marrketing</a></li>
                </ul>
              </li>
              <li class="category has-child-content"><span class="category__title">Sale, bán hàng</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">Sale, bán hàng</a></li>
                  <li class="category-topics__item"><a href="#">Sale, bán hàng</a></li>
                  <li class="category-topics__item"><a href="#">Sale, bán hàng</a></li>
                  <li class="category-topics__item"><a href="#">Sale, bán hàng</a></li>
                  <li class="category-topics__item"><a href="#">Sale, bán hàng</a></li>
                </ul>
              </li>
              <li class="category has-child-content"><span class="category__title">kinh doanh</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">kinh doanh</a></li>
                  <li class="category-topics__item"><a href="#">kinh doanh</a></li>
                  <li class="category-topics__item"><a href="#">kinh doanh</a></li>
                  <li class="category-topics__item"><a href="#">kinh doanh</a></li>
                  <li class="category-topics__item"><a href="#">kinh doanh</a></li>
                </ul>
              </li>
              <li class="category has-child-content"><span class="category__title">sức khỏe</span>
                <ul class="category-topics">
                  <li class="category-topics__item"><a href="#">sức khỏe</a></li>
                  <li class="category-topics__item"><a href="#">sức khỏe</a></li>
                  <li class="category-topics__item"><a href="#">sức khỏe</a></li>
                  <li class="category-topics__item"><a href="#">sức khỏe</a></li>
                  <li class="category-topics__item"><a href="#">sức khỏe</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
        <div class="header__search-container">
          <input type="text" placeholder="Tìm khoá học mà bạn quan tâm">
        </div><a class="header__enable-course" href="#"><i class="icon-Unlocked"></i>Kích hoạt khoá học</a>
        <div class="header-userprofile"><a class="header-userprofile__cart" href="#"> <i class="icon-items-in-cart-21772"></i><span>Giỏ hàng</span>
            <div class="header-userprofile__cart__number">5</div></a>
          <div class="dropdown dropdown--circle-img dropdown--align-right">
            <button class="dropdown__img"><img src="images/profile-pic.png" alt=""></button><i class="icon-arrow-down"></i>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-menu__item" href="#">Action lorem ipsum</a><a class="dropdown-menu__item" href="#">Another action Another action</a><a class="dropdown-menu__item" href="#">Something else here Another action</a></div>
          </div>
        </div>
      </header>
      <div class="wrapper">
        <div class="main-content">
          <div class="layout-no-banner">
            <form class="form-profile j-form-validation container profile" id="form-profile">
              <div class="row">
                <div class="col-md-3">
                  <div class="profile-user">
                    <div class="profile-user__img-wraper">
                      <div class="profile-user__img"><img src="images/profile_pic.jpg" alt=""></div>
                      <div class="profile-user__upload">
                        <input class="j-input-upload" type="file"><img src="images/upload.png" alt="">
                      </div>
                    </div>
                    <h5 class="profile-user__name">Trần Xuân Long</h5><span class="profile-user__title">Photoshop export</span>
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="form-profile">
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="profile-full-name">full name</label>
                        <input id="profile-full-name" type="text" name="profile-full-name" placeholder="Nguyễn Văn A" required>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="profile-phone">Phone</label>
                        <input id="profile-phone" type="text" name="profile-phone" placeholder="0912345678" required>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="profile-email">email</label>
                        <input class="readonly" id="profile-email" type="email" name="profile-email" value="toanle@gmail.com" readonly="readonly" disabled="disabled" placeholder="youremail@mail.com" required>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="profile-address">address</label>
                        <input class="readonly" id="profile-address" type="text" name="profile-address" value="Hà nội" readonly="readonly" disabled="disabled" placeholder="Địa chỉ của bạn" required>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="profile-dob">Ngày sinh</label>
                        <input class="date-picker date-picker--single" type="text" placeholder="Từ ngày - Đến ngày">
                      </div>
                      <div class="form-group col-md-6">
                        <label>Giới tính</label>
                        <div class="radio-group">
                          <label class="rounded-box" for="male">
                            <input id="male" type="radio" name="profile-gender">
                            <div class="rounded-box__checkbox"> </div>Male
                          </label>
                          <label class="rounded-box" for="female">
                            <input id="female" type="radio" name="profile-gender">
                            <div class="rounded-box__checkbox"> </div>Female
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="info-1">thông tin 1</label>
                      <textarea placeholder="Điền thông tin của bạn..."></textarea>
                    </div>
                    <div class="form-group">
                      <label for="info-1">thông tin 2</label>
                      <textarea placeholder="Điền thông tin của bạn..."></textarea>
                    </div>
                    <div class="form-group">
                      <label for="info-1">thông tin 3</label>
                      <textarea placeholder="Điền thông tin của bạn..."></textarea>
                    </div>
                        <button class="btn btn--primary">Lưu thông tin</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-12 footer__about-us"><a class="footer__logo" href="#"><i class="icon-logo-3"></i></a>
              <p class="footer__who-we-are">We are Education, create your passion and inspiration. And hope success will come for your dream. Please send email and get latest news.</p>
              <ul class="footer__information">
                <li><i class="icon-envelope-line"></i><a href="mailto:hello@fuliedu.com">hello@fuliedu.com</a></li>
                <li> <i class="icon-phone-handset-line-2"> </i><span>P: 333 222 111 99</span></li>
                <li> <i class="icon-map-marker-line"> </i><span>Barnard St - Suite 111 United States - GA 22222</span></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-4 footer__accordion footer__useful-link">
              <h3>useful links</h3>
              <ul>
                <li><a href="#">Giới thiệu về Fuliedu</a></li>
                <li><a href="#">Câu hỏi thường gặp</a></li>
                <li><a href="#">Điều khoản dịch vụ</a></li>
                <li><a href="#">Hướng dẫn thanh toán</a></li>
                <li><a href="#">Kích hoạt khóa học</a></li>
                <li><a href="#">Tuyển dụng</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-4 footer__accordion footer__support-link">
              <h3>support</h3>
              <ul>
                <li><a href="#">Teacher	</a></li>
                <li><a href="#">Company</a></li>
                <li><a href="#">Course	</a></li>
                <li><a href="#">Latest</a></li>
                <li><a href="#">Course</a></li>
                <li><a href="#">Support	</a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Why Edugate</a></li>
                <li><a href="#">Blog Post</a></li>
                <li><a href="#">SocialMedia</a></li>
                <li><a href="#">Site Map</a></li>
                <li><a href="#">Policies	</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Topic</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-4 footer__subscription">
              <h3>subscription</h3>
              <p>Enter your email and we’ll send you more information.</p>
              <form class="j-form-validation" action="">
                <input type="email" placeholder="Nhập Email" required>
                <button class="btn btn-primary btn--orange">gửi</button>
              </form>
            </div>
          </div>
        </div>
        <div class="copy-right">
          <div class="container">
            <div class="copy-right__content">
              <p>© Học viện Online FuliEdu - Hệ thống đào tạo trực tuyến dành cho người đi làm - Cổng kết nối Chuyên gia với Học viên</p><span>Follow us:<a href="#"><i class="icon-facebook"></i></a><a href="#"><i class="icon-tw"></i></a><a href="#"><i class="icon-insta"></i></a><a href="#"><i class="icon-gplus"></i></a><a href="#"><i class="icon-skype"></i></a></span>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="lightbox-overlay"></div>
    
    <script>!function(e,a,t,n,g,c){e.GoogleAnalyticsObject=n,e.ga||(e.ga=function(){(e.ga.q=e.ga.q||[]).push(arguments)}),e.ga.l=+new Date,g=a.createElement(t),c=a.getElementsByTagName(t)[0],g.src="https://www.google-analytics.com/analytics.js",c.parentNode.insertBefore(g,c)}(window,document,"script","ga"),ga("create","UA-XXXXX-X"),ga("send","pageview")</script>
    <script src="scripts/vendor.js"></script>
    
    <script src="scripts/main.js"></script>
    <script src="scripts-adhoc/validation.js"></script>
    <script src="scripts-adhoc/initdatepicker.js"></script>
  </body>
</html>
